.contact-bloc{
  padding: 40px 0;
  background: $white;
  .title-1{
    margin-bottom: 43px;
  }
  .form-contacter{
    padding: 0 100px;
    form{
      padding: 20px 90px;
      background-color: $color-gray;
    }
  }
}