<section class="contact-bloc">
    <div class="wrapper">
        <h3 class="title-1 blue-polygon">
            <span>Nous contacter</span>
        </h3>
        <div class="form-contacter">
            <form>
                <div class="col1">
                    <div class="form-group">
                        <label for="objet">Email address</label>
                        <input type="email" class="form-control" id="objet" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="etes">Email address</label>
                        <input type="email" class="form-control" id="etes" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="entreprise">Email address</label>
                        <input type="email" class="form-control" id="entreprise" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="nom">Email address</label>
                        <input type="email" class="form-control" id="nom" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="prenom">Email address</label>
                        <input type="email" class="form-control" id="prenom" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="lieu">Email address</label>
                        <input type="email" class="form-control" id="lieu" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2"></div>
                <div class="col2">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-group">
                        <label for="telephone">Email address</label>
                        <input type="email" class="form-control" id="telephone" placeholder="Enter email">
                    </div>
                </div>
                <div class="col1">
                    <div class="form-group">
                        <label for="message">Email address</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <a class="btn" href="#" title="Voir toutes les mises à la une">
            <span class="txt">Toutes les mises à la une</span>
        </a>
    </div>
</section>